*{
        box-sizing: border-box;
      }
      body{
        font-family: 'Lato', sans-serif;
        margin: 0;
        height: 100%;
      }
      main{
        margin-left: 35%;
        margin-right: 8%;
      }
      aside{
        background-color: #f5f2f0;
        min-width: 30%;
        padding: 40px;
        position: fixed;
        top: 0;
        height: 100%;
      }
      aside a{
        display: block;
        text-decoration: none;
        color: slategray;
        line-height: 2em;
      }
      aside a.H1{
        margin-bottom: 1em;
        color: slategrey;
        font-weight: bold;
      }
      aside a.H4{
        margin-left: 1em;
        color: #07a;
        display: block;
      }
      .H2{
      }
      .H2.on,.H3.on{
        padding-left: 5px;
        border-left: 5px solid #0EBFE9;
      }
      pre{
        /* background-color: #1d1f21; */
        padding: 10px;
        border-left: 10px solid #0EBFE9;
        overflow-x: scroll;
        margin-bottom: 2rem !important;
      }
      h1,h2,h3,h4,h5,h6,p{
         text-rendering: optimizeLegibility;
      }
      h1{
        font-size: 4em;
        font-weight: 900;
      }
      h1 a{
        text-decoration: none;
        color: #0EBFE9;
      }
      h1 sub{
        display: block;
        font-size: 0.33em;
        font-weight: 300;
      }
      h2{
        color: #555;
        font-size: 3rem;
        margin-top: 2em;
        padding-bottom: 10px;
        font-weight: 900;
      }
      h4{
        border-top: 1px solid #555;
        color: #555;
        padding-top: 2rem;
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 900;
      }
      h5{
        background-color: #f5f2f0;
        padding: 8px;
        display:inline-block;
        margin: 0;
        color: #07a;
        font-size: 18px;
      }
      h5:before{
        display: inline-block;
        content: "tab trigger";
        margin-right: 10px;
        font-weight: 500;
        color: slategray;
      }
      h6{
        margin-bottom: 0px;
        color: slategray;
        font-size: 1rem;
      }