body{
  padding:0px;
  margin:0px;
}

section.main{
  background-color:#222;
  padding:20px;
}

h1, h2{
  font-family: Helvetica, sans-serif;
  color: #e6e6e6;
}

h1{
  font-size:64px;
}

h2{
  font-size:56px;
}