body{
  padding:0px;
  margin:0px;
}

section.main{
  background-color:#222;
  padding:40px;
}

h1, h2{
  font-family: Georgia, serif;
  margin:0px;
  font-weight: normal;

}

h1{
  font-size:64px;
  color:#363636;
  padding-bottom: 24px;
  border-bottom: 1px dotted #363636;
  margin-bottom: 16px;
}

h2{
  font-size:36px;
  color:#363636;
}